* {
    margin: 0;
    padding: 0;
}
/* 静态面板 */
#Static-panels {
    width: 25%;
    height: 50%;
    background-color: antiquewhite;
    position: fixed;
    clear: both;
    margin-left: 5%;
    margin-top: 12%;
}

#Navigation-bar {
    position: fixed;
    width: 100%;
    background-color: white;
    
    
}

.ul1 {
    /* display: flex; */
    text-align: right;

}
.ul1>li {
    margin-top: 1%;
    margin-right: 7%;
    display: inline-block;
    position: relative;

}