


/* 初始化 */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}
html,body{
    height: 100%;
}
ul>li{
    list-style-type: none;
}
.iconfont{
    font-size: 25px;
}
/* 粒子动效背景 */
#particles-js{
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #d3b485;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    line-height: 0%; /*多出滚动条 overflow：hidden也行*/
}

/* 导航栏 */
#Navigation-bar {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255,0);
    
}
.ul1 {
    text-align: right;

}

.ul1>li {
    margin-top: 1%;
    margin-right: 7%;
    display: inline-block;
    position: relative;
}
.a1:link,.a1:visited{
    text-decoration: none;
    color: rgb(0, 0, 0) ;
}


/* 展栏1 */
#exhibit1 {
    left: 3%;
    top: 5%;
    width: 35%;
    height: 90%;
    background-color: rgb(250, 231, 215,0);
    position: fixed;
    clear: both;
}
#photo {
    height: 45%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(250, 231, 215,0.5);
    border-radius:15px 15px 15px 15px;
}

/* 音乐面板 */
#music{
    height: 45%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(250, 231, 215,0.5);
    border-radius:15px 15px 15px 15px;
}

/* 音乐信息 */
#music-info{
    height: 83%;
    width: 100%;
    border-radius:15px 15px 15px 15px;
    box-shadow: 0 10px 20px 0px rgb(197, 166, 140,0.5);
}
.music-text{
    width: 100%;
    height: 100%;
    display: block;
    
}
#music-img{
    width: 100%;
    height: 100%;
    display: none;
    /* display: block; */
    
}
.music-list{
    width: 100%;
    height: 100%;
    display: none;
}

#music-text>div{
    text-align: center;
}
#textpart{
    width: 100%;
    height: 85%;
}
#music-title{
    font-size:larger;
    margin-bottom: 20px;
}
#music-progress{
    position: relative;
    width: 100%;
    height: 15%;
}
#music-progress-time{
    display: flex;
    text-align: center;
    color: #f83ed0;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}
#music-progress-bar{
    background-color: #beb7ac;
    height: 3px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3px;
}
#music-progress-line{
    height: 100%;
    width: 0%;
    background-color: #f83ed0;
}

#music-list-top{
    width: 100%;
    height: 15%;
}
#music-list-title span{
    font-size: 25px;
}
#music-list-form{
    width: 100%;
    height: 85%;
    overflow: scroll;
}
#music-list-form span{
    font-size: 15px;
}
.current-playlist{
    color: rgb(255, 255, 255);
}
#music-list-form li{
border-bottom: 1px solid rgb(233, 216, 218);
}
#music-list-form::-webkit-scrollbar{
    width: 0;
    height: 0;
}

#music-list-form span{
    cursor: pointer;
    
}
#music-list-form span:hover{
    color: rgb(255, 255, 255);
}

/* 音乐控制 */
#music-panel{
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 2%;
    text-align: center;
    padding-top: 2%;
    background-color: rgb(255, 255, 255,0.3);
    border-radius:15px 15px 15px 15px;
    box-shadow: 0 10px 20px 0px rgb(197, 166, 140,0.5);
}
#music-panel span{
    cursor: pointer;
    position: relative;
    top: 25%;
}
#music-panel span:hover{
    color: rgb(255, 255, 255);
}


/* 展栏2 */
#exhibit2 {
    left: 50%;
    top: 5%;
    width: 48%;
    height: 90%;
    background-color: rgb(255, 255, 255,0);
    position: fixed;
    overflow: auto;
}
#exhibit2::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.exhibit2{
    height: 22%;
    margin-top: 10px;
    background-color: rgb(250, 231, 215,0.5);
    border-radius:15px 0 0 15px;
    padding: 10px;
}


