@font-face {
  font-family: "iconfont"; /* Project id 4515230 */
  src: url('iconfont.woff2?t=1713857417303') format('woff2'),
       url('iconfont.woff?t=1713857417303') format('woff'),
       url('iconfont.ttf?t=1713857417303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanchong:before {
  content: "\e613";
}

.icon-xiayishou:before {
  content: "\e6ae";
}

.icon-bofang:before {
  content: "\e6af";
}

.icon-guanbishengyin:before {
  content: "\e6b0";
}

.icon-tingzhishengyin:before {
  content: "\e6b1";
}

.icon-zanting:before {
  content: "\e6b2";
}

.icon-zhongdengyinliang:before {
  content: "\e6b3";
}

.icon-zuidayinliang:before {
  content: "\e6b4";
}

.icon-yinliang:before {
  content: "\e6b5";
}

.icon-xiazaibendi:before {
  content: "\e6bc";
}

.icon-shangyishouge:before {
  content: "\e6bf";
}

.icon-xunhuanbofang:before {
  content: "\e6c0";
}

.icon-gedan:before {
  content: "\e6c1";
}

